* {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  accent-color: #3766e8;
}
button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  background-color: #f9f9f9;

  .todo-header {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 90%;
    width: 500px;
    .completed-count {
      font-size: 16px;
      font-weight: normal;
      color: #a0a0a0;
    }
    h2 {
      margin: 0;
    }
    form {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
    }
    input {
      display: flex;
      border: 1px solid #f0f0f0;
      padding: 8px 16px;
      font-weight: 500;
      font-size: 16px;
      border-radius: 6px;
      width: 100%;
      outline: 1px solid #f0f0f0;
      &::placeholder {
        color: #ccc;
      }
      &:focus {
        outline: 2px solid #3766e8;
      }
    }
    .btn-submit {
      background-color: #3766e8;
      color: #fff;
      width: 100px;
      padding: 8px 12px;
    }
  }
  .todo-list {
    max-width: 90%;
    width: 500px;
    height: max-content;
    max-height: 70vh;
    padding: 0;

    border-radius: 12px;
    border: 1px solid #f0f0f0;
    list-style-type: none;
    margin: 0;
    background-color: #fff;
    .zerostate {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 700;
      padding: 16px;
    }
    .todo-list__item {
      width: 100%;
      padding: 8px 12px;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      .content {
        display: flex;
        align-items: center;
        gap: 8px;
        &.is-completed {
          text-decoration-line: line-through;
          text-decoration-style: double;
        }
      }
      input {
        width: 20px;
        height: 20px;
      }
      &:hover {
        background-color: #f0f0f0;
      }

      .btn-remove {
        height: 32px;
        width: 32px;
        background-color: red;
        color: white;
      }
    }
  }
}
